fastapi
uvicorn[standard]
requests
python-dotenv
sqlalchemy
pydantic[email]


#LEMBRETE PARA RODAR OS BAGULHO DO BACKEND
#python -m venv .\venv
#.\venv\Scripts\activate
#pip install -r requirements.txt
#uvicorn app.main:app --reload

#LEMBRETE PARA TESTES
#pip install pytest httpx
#pip freeze > requirements.txt