.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--primary-green);
}

.nav-link {
  margin-left: 1.5rem;
  text-decoration: none;
  color: var(--text-dark);
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.2s, border-bottom-color 0.2s;
}

.nav-link:hover {
  color: var(--primary-green);
}

.nav-link.active {
  color: var(--primary-green);
  border-bottom-color: var(--primary-green);
}